In [102]:
import numpy as np
import pandas as pd
import os
from datetime import datetime
os.getcwd()

'D:\\datasets\\d1\\Actuarial-Pricing-and-Reserving-GLM\\data\\processed'

In [ ]:
df = pd.read_csv('policy_clean.csv')

In [106]:
df.head()

,policy_id,policy_start_date,policy_end_date,exposure,vehicle_age,region,channel,sum_insured,premium
0,1,17-08-2018,16-08-2019,0.997260,2,South,Agent,607200,9720.0
1,2,02-06-2023,30-05-2024,0.994521,14,East,Agent,408700,9478.0
2,3,01-08-2022,28-05-2023,0.821918,2,North,Direct,1341200,17632.0
3,4,26-01-2021,04-02-2022,1.024658,6,East,Online,735600,13541.0
4,5,11-01-2021,06-02-2022,1.071233,4,South,Online,3442000,59936.0

In [ ]:
#check summary statistics for 'exposure' column and look for anomalies
df['exposure'].describe()

count    498163.000000
mean          0.958994
std           0.091779
min          -0.200000
25%           0.890411
50%           0.958904
75%           1.027397
max           2.000000
Name: exposure, dtype: float64

In [108]:
#removing exposure and calculating it again from policy start and end date
df = df.drop(columns=['exposure'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498163 entries, 0 to 498162
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   policy_id          498163 non-null  int64
 1   policy_start_date  498163 non-null  object
 2   policy_end_date    498163 non-null  object
 3   vehicle_age        498163 non-null  int64
 4   region             498163 non-null  object
 5   channel            498163 non-null  object
 6   sum_insured        498163 non-null  int64
 7   premium            496666 non-null  float64
dtypes: float64(1), int64(3), object(4)
memory usage: 30.4+ MB

In [ ]:
#convert policy_start_date and policy_end_date to datetime format
df['policy_start_date'] = pd.to_datetime(df['policy_start_date'], dayfirst=True , errors='coerce')
df['policy_end_date'] = pd.to_datetime(df['policy_end_date'], dayfirst=True , errors='coerce')
df.dtypes

policy_id                     int64
policy_start_date    datetime64[ns]
policy_end_date      datetime64[ns]
vehicle_age                   int64
region                       object
channel                      object
sum_insured                   int64
premium                     float64
dtype: object

In [ ]:
# Calculate exposure in years
df['exposure'] = ((df['policy_end_date'] - df['policy_start_date']).dt.days + 1) / 365
df['earned_premium'] = df['premium'] * df['exposure']

In [ ]:
# Extract policy year
df['policy_year'] = (df['policy_start_date'].dt.year).astype('int16')
df['exposure'] = df['exposure'].clip(lower=0, upper=1)
df.shape

(498163, 11)

In [120]:
df['exposure'].describe()

count    498163.000000
mean          0.943510
std           0.058822
min           0.824658
25%           0.893151
50%           0.961644
75%           1.000000
max           1.000000
Name: exposure, dtype: float64

In [114]:
df.to_csv('exposure_table.csv', index=False)